IA/WebConsumer/WebConsumer/WebConsumer/Service References/moduloIA/moduloIA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tamanhoRede">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nivel" type="xs:int" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tamanhoRedeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tamanhoRedeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="redeNivel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nivel" type="xs:int" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="redeNivelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="redeNivelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="amigosTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tags" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="amigosTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="amigosTagResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sugerirAmigos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sugerirAmigosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sugerirAmigosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="maven">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mavenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mavenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="amigosComuns">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="amigosComunsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="amigosComunsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="caminhoForte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userOrigem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userDestino" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="caminhoForteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caminhoForteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="caminhoCurto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userOrigem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userDestino" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="caminhoCurtoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caminhoCurtoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="grauMedioSeparacao">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="grauMedioSeparacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grauMedioSeparacaoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="grafoNivel3">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="grafoNivel3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grafoNivel3Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="traduzir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orig" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="traduzirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="traduzirResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="debug">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="debugResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="debugResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>