Graphs4Social_AR/Graphs4Social_AR/Graphs4Social_AR/Service References/ModuloIA/moduloIA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="moduloIA" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wvm035.dei.isep.ipp.pt/IA/moduloIA.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wvm035.dei.isep.ipp.pt/IA/moduloIA.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IModuloIa_tamanhoRede_InputMessage">
    <wsdl:part name="parameters" element="tns:tamanhoRede" />
  </wsdl:message>
  <wsdl:message name="IModuloIa_tamanhoRede_OutputMessage">
    <wsdl:part name="parameters" element="tns:tamanhoRedeResponse" />
  </wsdl:message>
  <wsdl:message name="IModuloIa_redeNivel_InputMessage">
    <wsdl:part name="parameters" element="tns:redeNivel" />
  </wsdl:message>
  <wsdl:message name="IModuloIa_redeNivel_OutputMessage">
    <wsdl:part name="parameters" element="tns:redeNivelResponse" />
  </wsdl:message>
  <wsdl:message name="IModuloIa_amigosTag_InputMessage">
    <wsdl:part name="parameters" element="tns:amigosTag" />
  </wsdl:message>
  <wsdl:message name="IModuloIa_amigosTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:amigosTagResponse" />
  </wsdl:message>
  <wsdl:message name="IModuloIa_sugerirAmigos_InputMessage">
    <wsdl:part name="parameters" element="tns:sugerirAmigos" />
  </wsdl:message>
  <wsdl:message name="IModuloIa_sugerirAmigos_OutputMessage">
    <wsdl:part name="parameters" element="tns:sugerirAmigosResponse" />
  </wsdl:message>
  <wsdl:message name="IModuloIa_maven_InputMessage">
    <wsdl:part name="parameters" element="tns:maven" />
  </wsdl:message>
  <wsdl:message name="IModuloIa_maven_OutputMessage">
    <wsdl:part name="parameters" element="tns:mavenResponse" />
  </wsdl:message>
  <wsdl:message name="IModuloIa_amigosComuns_InputMessage">
    <wsdl:part name="parameters" element="tns:amigosComuns" />
  </wsdl:message>
  <wsdl:message name="IModuloIa_amigosComuns_OutputMessage">
    <wsdl:part name="parameters" element="tns:amigosComunsResponse" />
  </wsdl:message>
  <wsdl:message name="IModuloIa_caminhoForte_InputMessage">
    <wsdl:part name="parameters" element="tns:caminhoForte" />
  </wsdl:message>
  <wsdl:message name="IModuloIa_caminhoForte_OutputMessage">
    <wsdl:part name="parameters" element="tns:caminhoForteResponse" />
  </wsdl:message>
  <wsdl:message name="IModuloIa_caminhoCurto_InputMessage">
    <wsdl:part name="parameters" element="tns:caminhoCurto" />
  </wsdl:message>
  <wsdl:message name="IModuloIa_caminhoCurto_OutputMessage">
    <wsdl:part name="parameters" element="tns:caminhoCurtoResponse" />
  </wsdl:message>
  <wsdl:message name="IModuloIa_grauMedioSeparacao_InputMessage">
    <wsdl:part name="parameters" element="tns:grauMedioSeparacao" />
  </wsdl:message>
  <wsdl:message name="IModuloIa_grauMedioSeparacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:grauMedioSeparacaoResponse" />
  </wsdl:message>
  <wsdl:message name="IModuloIa_grafoNivel3_InputMessage">
    <wsdl:part name="parameters" element="tns:grafoNivel3" />
  </wsdl:message>
  <wsdl:message name="IModuloIa_grafoNivel3_OutputMessage">
    <wsdl:part name="parameters" element="tns:grafoNivel3Response" />
  </wsdl:message>
  <wsdl:message name="IModuloIa_traduzir_InputMessage">
    <wsdl:part name="parameters" element="tns:traduzir" />
  </wsdl:message>
  <wsdl:message name="IModuloIa_traduzir_OutputMessage">
    <wsdl:part name="parameters" element="tns:traduzirResponse" />
  </wsdl:message>
  <wsdl:message name="IModuloIa_debug_InputMessage">
    <wsdl:part name="parameters" element="tns:debug" />
  </wsdl:message>
  <wsdl:message name="IModuloIa_debug_OutputMessage">
    <wsdl:part name="parameters" element="tns:debugResponse" />
  </wsdl:message>
  <wsdl:portType name="IModuloIa">
    <wsdl:operation name="tamanhoRede">
      <wsdl:input wsaw:Action="http://tempuri.org/IModuloIa/tamanhoRede" message="tns:IModuloIa_tamanhoRede_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModuloIa/tamanhoRedeResponse" message="tns:IModuloIa_tamanhoRede_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="redeNivel">
      <wsdl:input wsaw:Action="http://tempuri.org/IModuloIa/redeNivel" message="tns:IModuloIa_redeNivel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModuloIa/redeNivelResponse" message="tns:IModuloIa_redeNivel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="amigosTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IModuloIa/amigosTag" message="tns:IModuloIa_amigosTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModuloIa/amigosTagResponse" message="tns:IModuloIa_amigosTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sugerirAmigos">
      <wsdl:input wsaw:Action="http://tempuri.org/IModuloIa/sugerirAmigos" message="tns:IModuloIa_sugerirAmigos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModuloIa/sugerirAmigosResponse" message="tns:IModuloIa_sugerirAmigos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="maven">
      <wsdl:input wsaw:Action="http://tempuri.org/IModuloIa/maven" message="tns:IModuloIa_maven_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModuloIa/mavenResponse" message="tns:IModuloIa_maven_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="amigosComuns">
      <wsdl:input wsaw:Action="http://tempuri.org/IModuloIa/amigosComuns" message="tns:IModuloIa_amigosComuns_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModuloIa/amigosComunsResponse" message="tns:IModuloIa_amigosComuns_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="caminhoForte">
      <wsdl:input wsaw:Action="http://tempuri.org/IModuloIa/caminhoForte" message="tns:IModuloIa_caminhoForte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModuloIa/caminhoForteResponse" message="tns:IModuloIa_caminhoForte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="caminhoCurto">
      <wsdl:input wsaw:Action="http://tempuri.org/IModuloIa/caminhoCurto" message="tns:IModuloIa_caminhoCurto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModuloIa/caminhoCurtoResponse" message="tns:IModuloIa_caminhoCurto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="grauMedioSeparacao">
      <wsdl:input wsaw:Action="http://tempuri.org/IModuloIa/grauMedioSeparacao" message="tns:IModuloIa_grauMedioSeparacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModuloIa/grauMedioSeparacaoResponse" message="tns:IModuloIa_grauMedioSeparacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="grafoNivel3">
      <wsdl:input wsaw:Action="http://tempuri.org/IModuloIa/grafoNivel3" message="tns:IModuloIa_grafoNivel3_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModuloIa/grafoNivel3Response" message="tns:IModuloIa_grafoNivel3_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="traduzir">
      <wsdl:input wsaw:Action="http://tempuri.org/IModuloIa/traduzir" message="tns:IModuloIa_traduzir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModuloIa/traduzirResponse" message="tns:IModuloIa_traduzir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="debug">
      <wsdl:input wsaw:Action="http://tempuri.org/IModuloIa/debug" message="tns:IModuloIa_debug_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModuloIa/debugResponse" message="tns:IModuloIa_debug_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IModuloIa" type="tns:IModuloIa">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="tamanhoRede">
      <soap:operation soapAction="http://tempuri.org/IModuloIa/tamanhoRede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="redeNivel">
      <soap:operation soapAction="http://tempuri.org/IModuloIa/redeNivel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="amigosTag">
      <soap:operation soapAction="http://tempuri.org/IModuloIa/amigosTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sugerirAmigos">
      <soap:operation soapAction="http://tempuri.org/IModuloIa/sugerirAmigos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="maven">
      <soap:operation soapAction="http://tempuri.org/IModuloIa/maven" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="amigosComuns">
      <soap:operation soapAction="http://tempuri.org/IModuloIa/amigosComuns" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="caminhoForte">
      <soap:operation soapAction="http://tempuri.org/IModuloIa/caminhoForte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="caminhoCurto">
      <soap:operation soapAction="http://tempuri.org/IModuloIa/caminhoCurto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="grauMedioSeparacao">
      <soap:operation soapAction="http://tempuri.org/IModuloIa/grauMedioSeparacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="grafoNivel3">
      <soap:operation soapAction="http://tempuri.org/IModuloIa/grafoNivel3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="traduzir">
      <soap:operation soapAction="http://tempuri.org/IModuloIa/traduzir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="debug">
      <soap:operation soapAction="http://tempuri.org/IModuloIa/debug" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="moduloIA">
    <wsdl:port name="BasicHttpBinding_IModuloIa" binding="tns:BasicHttpBinding_IModuloIa">
      <soap:address location="http://wvm035.dei.isep.ipp.pt/IA/moduloIA.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>