Graphs4Social_3D/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wvm035.dei.isep.ipp.pt/Graphs4Social_WebService/Graphs4Social_Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Grafo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ligacoes" nillable="true" type="tns:ArrayOfLigacao" />
      <xs:element minOccurs="0" name="NrArcos" type="xs:int" />
      <xs:element minOccurs="0" name="NrNos" type="xs:int" />
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Grafo" nillable="true" type="tns:Grafo" />
  <xs:complexType name="ArrayOfLigacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ligacao" nillable="true" type="tns:Ligacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLigacao" nillable="true" type="tns:ArrayOfLigacao" />
  <xs:complexType name="Ligacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Forca" type="xs:int" />
      <xs:element minOccurs="0" name="Peso" type="xs:int" />
      <xs:element minOccurs="0" name="Tag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User1" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="User2" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ligacao" nillable="true" type="tns:Ligacao" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Definido" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="Profile" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Raio" type="xs:double" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="Tags" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
      <xs:element minOccurs="0" name="Z" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
</xs:schema>