Graphs4Social_3D/tempuri.org.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="Graphs4Social_Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wvm035.dei.isep.ipp.pt/Graphs4Social_WebService/Graphs4Social_Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wvm035.dei.isep.ipp.pt/Graphs4Social_WebService/Graphs4Social_Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wvm035.dei.isep.ipp.pt/Graphs4Social_WebService/Graphs4Social_Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://wvm035.dei.isep.ipp.pt/Graphs4Social_WebService/Graphs4Social_Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGraphs4Social_Service_carregaGrafo_InputMessage">
    <wsdl:part name="parameters" element="tns:carregaGrafo" />
  </wsdl:message>
  <wsdl:message name="IGraphs4Social_Service_carregaGrafo_OutputMessage">
    <wsdl:part name="parameters" element="tns:carregaGrafoResponse" />
  </wsdl:message>
  <wsdl:message name="IGraphs4Social_Service_carregaGrafoAmigosComum_InputMessage">
    <wsdl:part name="parameters" element="tns:carregaGrafoAmigosComum" />
  </wsdl:message>
  <wsdl:message name="IGraphs4Social_Service_carregaGrafoAmigosComum_OutputMessage">
    <wsdl:part name="parameters" element="tns:carregaGrafoAmigosComumResponse" />
  </wsdl:message>
  <wsdl:message name="IGraphs4Social_Service_caminhoMaisCurto_InputMessage">
    <wsdl:part name="parameters" element="tns:caminhoMaisCurto" />
  </wsdl:message>
  <wsdl:message name="IGraphs4Social_Service_caminhoMaisCurto_OutputMessage">
    <wsdl:part name="parameters" element="tns:caminhoMaisCurtoResponse" />
  </wsdl:message>
  <wsdl:message name="IGraphs4Social_Service_verificarUser_InputMessage">
    <wsdl:part name="parameters" element="tns:verificarUser" />
  </wsdl:message>
  <wsdl:message name="IGraphs4Social_Service_verificarUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:verificarUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IGraphs4Social_Service">
    <wsdl:operation name="carregaGrafo">
      <wsdl:input wsaw:Action="http://tempuri.org/IGraphs4Social_Service/carregaGrafo" message="tns:IGraphs4Social_Service_carregaGrafo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGraphs4Social_Service/carregaGrafoResponse" message="tns:IGraphs4Social_Service_carregaGrafo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="carregaGrafoAmigosComum">
      <wsdl:input wsaw:Action="http://tempuri.org/IGraphs4Social_Service/carregaGrafoAmigosComum" message="tns:IGraphs4Social_Service_carregaGrafoAmigosComum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGraphs4Social_Service/carregaGrafoAmigosComumResponse" message="tns:IGraphs4Social_Service_carregaGrafoAmigosComum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="caminhoMaisCurto">
      <wsdl:input wsaw:Action="http://tempuri.org/IGraphs4Social_Service/caminhoMaisCurto" message="tns:IGraphs4Social_Service_caminhoMaisCurto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGraphs4Social_Service/caminhoMaisCurtoResponse" message="tns:IGraphs4Social_Service_caminhoMaisCurto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="verificarUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IGraphs4Social_Service/verificarUser" message="tns:IGraphs4Social_Service_verificarUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGraphs4Social_Service/verificarUserResponse" message="tns:IGraphs4Social_Service_verificarUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGraphs4Social_Service" type="tns:IGraphs4Social_Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="carregaGrafo">
      <soap:operation soapAction="http://tempuri.org/IGraphs4Social_Service/carregaGrafo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="carregaGrafoAmigosComum">
      <soap:operation soapAction="http://tempuri.org/IGraphs4Social_Service/carregaGrafoAmigosComum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="caminhoMaisCurto">
      <soap:operation soapAction="http://tempuri.org/IGraphs4Social_Service/caminhoMaisCurto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificarUser">
      <soap:operation soapAction="http://tempuri.org/IGraphs4Social_Service/verificarUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Graphs4Social_Service">
    <wsdl:port name="BasicHttpBinding_IGraphs4Social_Service" binding="tns:BasicHttpBinding_IGraphs4Social_Service">
      <soap:address location="http://wvm035.dei.isep.ipp.pt/Graphs4Social_WebService/Graphs4Social_Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>