WebService/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Pessoa">
    <xs:sequence>
      <xs:element minOccurs="0" name="Idade" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pessoa" nillable="true" type="tns:Pessoa" />
  <xs:complexType name="Musica">
    <xs:sequence>
      <xs:element minOccurs="0" name="Artist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Musica" nillable="true" type="tns:Musica" />
  <xs:complexType name="ArrayOfMusica">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Musica" nillable="true" type="tns:Musica" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMusica" nillable="true" type="tns:ArrayOfMusica" />
</xs:schema>