WebService/tempuri.org.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="Graphs4Social_Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:42390/Graphs4Social_Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:42390/Graphs4Social_Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:42390/Graphs4Social_Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGraphs4Social_Service_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IGraphs4Social_Service_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IGraphs4Social_Service_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IGraphs4Social_Service_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IGraphs4Social_Service_getPessoa_InputMessage">
    <wsdl:part name="parameters" element="tns:getPessoa" />
  </wsdl:message>
  <wsdl:message name="IGraphs4Social_Service_getPessoa_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPessoaResponse" />
  </wsdl:message>
  <wsdl:message name="IGraphs4Social_Service_getMusica_InputMessage">
    <wsdl:part name="parameters" element="tns:getMusica" />
  </wsdl:message>
  <wsdl:message name="IGraphs4Social_Service_getMusica_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMusicaResponse" />
  </wsdl:message>
  <wsdl:message name="IGraphs4Social_Service_getMusicas_InputMessage">
    <wsdl:part name="parameters" element="tns:getMusicas" />
  </wsdl:message>
  <wsdl:message name="IGraphs4Social_Service_getMusicas_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMusicasResponse" />
  </wsdl:message>
  <wsdl:message name="IGraphs4Social_Service_findIdMusica_InputMessage">
    <wsdl:part name="parameters" element="tns:findIdMusica" />
  </wsdl:message>
  <wsdl:message name="IGraphs4Social_Service_findIdMusica_OutputMessage">
    <wsdl:part name="parameters" element="tns:findIdMusicaResponse" />
  </wsdl:message>
  <wsdl:portType name="IGraphs4Social_Service">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IGraphs4Social_Service/DoWork" message="tns:IGraphs4Social_Service_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGraphs4Social_Service/DoWorkResponse" message="tns:IGraphs4Social_Service_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IGraphs4Social_Service/Add" message="tns:IGraphs4Social_Service_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGraphs4Social_Service/AddResponse" message="tns:IGraphs4Social_Service_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPessoa">
      <wsdl:input wsaw:Action="http://tempuri.org/IGraphs4Social_Service/getPessoa" message="tns:IGraphs4Social_Service_getPessoa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGraphs4Social_Service/getPessoaResponse" message="tns:IGraphs4Social_Service_getPessoa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMusica">
      <wsdl:input wsaw:Action="http://tempuri.org/IGraphs4Social_Service/getMusica" message="tns:IGraphs4Social_Service_getMusica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGraphs4Social_Service/getMusicaResponse" message="tns:IGraphs4Social_Service_getMusica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMusicas">
      <wsdl:input wsaw:Action="http://tempuri.org/IGraphs4Social_Service/getMusicas" message="tns:IGraphs4Social_Service_getMusicas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGraphs4Social_Service/getMusicasResponse" message="tns:IGraphs4Social_Service_getMusicas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findIdMusica">
      <wsdl:input wsaw:Action="http://tempuri.org/IGraphs4Social_Service/findIdMusica" message="tns:IGraphs4Social_Service_findIdMusica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGraphs4Social_Service/findIdMusicaResponse" message="tns:IGraphs4Social_Service_findIdMusica_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGraphs4Social_Service" type="tns:IGraphs4Social_Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IGraphs4Social_Service/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IGraphs4Social_Service/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPessoa">
      <soap:operation soapAction="http://tempuri.org/IGraphs4Social_Service/getPessoa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMusica">
      <soap:operation soapAction="http://tempuri.org/IGraphs4Social_Service/getMusica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMusicas">
      <soap:operation soapAction="http://tempuri.org/IGraphs4Social_Service/getMusicas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findIdMusica">
      <soap:operation soapAction="http://tempuri.org/IGraphs4Social_Service/findIdMusica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Graphs4Social_Service">
    <wsdl:port name="BasicHttpBinding_IGraphs4Social_Service" binding="tns:BasicHttpBinding_IGraphs4Social_Service">
      <soap:address location="http://localhost:42390/Graphs4Social_Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>